# HousingData Boston

# EDA

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("HousingData.csv")

In [3]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [4]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [5]:
df.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [6]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [7]:
df.info

<bound method DataFrame.info of         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93   0.0  0.573  6.030   NaN  2.5050    1  273

     PTRATIO       B  LSTAT  MEDV
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90    NaN  36.2
..       ...     ...    ...   ...
501     21.0  391.99    NaN  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>

In [8]:
df.isnull()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,True,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,True,False,False,False,False,False,False,False

# LIMPIAR DATOS

In [9]:
#Quitar valores nulos
df_2 = df.dropna()

df_2.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000
mean,3.690136,11.460660,11.000863,0.068528,0.553215,6.280015,68.932741,3.805268,9.403553,406.431472,18.537563,358.490939,12.769112,22.359645
std,9.202423,23.954082,6.908364,0.252971,0.113112,0.697985,27.888705,2.098571,8.633451,168.312419,2.166460,89.283295,7.308430,9.142979
min,0.006320,0.000000,0.460000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,2.600000,1.730000,5.000000
25%,0.081955,0.000000,5.130000,0.000000,0.453000,5.879250,45.475000,2.110100,4.000000,280.250000,17.400000,376.707500,7.125000,16.800000
50%,0.268880,0.000000,8.560000,0.000000,0.538000,6.201500,77.700000,3.199200,5.000000,330.000000,19.100000,392.190000,11.300000,21.050000
75%,3.435973,12.500000,18.100000,0.000000,0.624000,6.605500,94.250000,5.116700,24.000000,666.000000,20.200000,396.900000,17.117500,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [10]:
#Quitar valores duplicados
df_3 = df_2.drop_duplicates()

df_3.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000
mean,3.690136,11.460660,11.000863,0.068528,0.553215,6.280015,68.932741,3.805268,9.403553,406.431472,18.537563,358.490939,12.769112,22.359645
std,9.202423,23.954082,6.908364,0.252971,0.113112,0.697985,27.888705,2.098571,8.633451,168.312419,2.166460,89.283295,7.308430,9.142979
min,0.006320,0.000000,0.460000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,2.600000,1.730000,5.000000
25%,0.081955,0.000000,5.130000,0.000000,0.453000,5.879250,45.475000,2.110100,4.000000,280.250000,17.400000,376.707500,7.125000,16.800000
50%,0.268880,0.000000,8.560000,0.000000,0.538000,6.201500,77.700000,3.199200,5.000000,330.000000,19.100000,392.190000,11.300000,21.050000
75%,3.435973,12.500000,18.100000,0.000000,0.624000,6.605500,94.250000,5.116700,24.000000,666.000000,20.200000,396.900000,17.117500,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [14]:
x = df_3.drop("MEDV", axis=1).values

y = df_3["MEDV"].values.reshape([-1,1])

In [15]:
modelo = LinearRegression()
modelo.fit(x,y)
y_pred1 = modelo.predict(x)

In [16]:
b0 = modelo.intercept_

b1 = modelo.coef_

b0,b1

(array([32.68005854]),
 array([[-9.75937645e-02,  4.89049306e-02,  3.03789814e-02,
          2.76937811e+00, -1.79690282e+01,  4.28325195e+00,
         -1.29907658e-02, -1.45850997e+00,  2.85865617e-01,
         -1.31464154e-02, -9.14582415e-01,  9.65574144e-03,
         -4.23660746e-01]]))

# STATSMODEL.API

In [3]:
#Cargar df
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("HousingData.csv")
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

## Limpieza Datos

In [4]:
#Quitar valores nulos
df_2 = df.dropna()

df_2.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000
mean,3.690136,11.460660,11.000863,0.068528,0.553215,6.280015,68.932741,3.805268,9.403553,406.431472,18.537563,358.490939,12.769112,22.359645
std,9.202423,23.954082,6.908364,0.252971,0.113112,0.697985,27.888705,2.098571,8.633451,168.312419,2.166460,89.283295,7.308430,9.142979
min,0.006320,0.000000,0.460000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,2.600000,1.730000,5.000000
25%,0.081955,0.000000,5.130000,0.000000,0.453000,5.879250,45.475000,2.110100,4.000000,280.250000,17.400000,376.707500,7.125000,16.800000
50%,0.268880,0.000000,8.560000,0.000000,0.538000,6.201500,77.700000,3.199200,5.000000,330.000000,19.100000,392.190000,11.300000,21.050000
75%,3.435973,12.500000,18.100000,0.000000,0.624000,6.605500,94.250000,5.116700,24.000000,666.000000,20.200000,396.900000,17.117500,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [5]:
#Quitar valores duplicados
df_3 = df_2.drop_duplicates()

df_3.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000
mean,3.690136,11.460660,11.000863,0.068528,0.553215,6.280015,68.932741,3.805268,9.403553,406.431472,18.537563,358.490939,12.769112,22.359645
std,9.202423,23.954082,6.908364,0.252971,0.113112,0.697985,27.888705,2.098571,8.633451,168.312419,2.166460,89.283295,7.308430,9.142979
min,0.006320,0.000000,0.460000,0.000000,0.389000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,2.600000,1.730000,5.000000
25%,0.081955,0.000000,5.130000,0.000000,0.453000,5.879250,45.475000,2.110100,4.000000,280.250000,17.400000,376.707500,7.125000,16.800000
50%,0.268880,0.000000,8.560000,0.000000,0.538000,6.201500,77.700000,3.199200,5.000000,330.000000,19.100000,392.190000,11.300000,21.050000
75%,3.435973,12.500000,18.100000,0.000000,0.624000,6.605500,94.250000,5.116700,24.000000,666.000000,20.200000,396.900000,17.117500,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

## Modelo

In [12]:
import statsmodels.api as sm
import numpy as np

CRIM = df_3["CRIM"].values.reshape([-1, 1])
ZN = df_3["ZN"].values.reshape([-1, 1])
INDUS = df_3["INDUS"].values.reshape([-1, 1])
CHAS = df_3["CHAS"].values.reshape([-1, 1])
NOX = df_3["NOX"].values.reshape([-1, 1])
RM = df_3["RM"].values.reshape([-1, 1])
AGE = df_3["AGE"].values.reshape([-1, 1])
DIS = df_3["DIS"].values.reshape([-1, 1])
RAD = df_3["RAD"].values.reshape([-1, 1])
TAX = df_3["TAX"].values.reshape([-1, 1])
PTRATIO = df_3["PTRATIO"].values.reshape([-1, 1])
B = df_3["B"].values.reshape([-1, 1])
LSTAT = df_3["LSTAT"].values.reshape([-1, 1])

n = len(df_3)

unos = np.ones([n,1])

x = np.hstack([
    unos,
    CRIM,
    ZN,
    INDUS,
    CHAS,
    NOX,
    RM,
    AGE,
    DIS,
    RAD,
    TAX,
    PTRATIO,
    B,
    LSTAT
])

y = df_3["MEDV"].values.reshape([-1,1])

ols = sm.OLS(y, x) #fit es al reves, es decir, primero Y y luego X

results = ols.fit()

results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.767
Model:                            OLS   Adj. R-squared:                  0.759
Method:                 Least Squares   F-statistic:                     96.29
Date:                Mon, 01 Sep 2025   Prob (F-statistic):          1.75e-111
Time:                        17:26:02   Log-Likelihood:                -1143.4
No. Observations:                 394   AIC:                             2315.
Df Residuals:                     380   BIC:                             2370.
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         32.6801      5.681      5.752      0.000      21.509      43.851
x1            -0.0976      0.032     -3.007      0.003      -0.161      -0.034
x2             0.0489      0.014      3.397      0.001       0.021       0.077
x3             0.0304      0.066      0.461      0.645      -0.099       0.160
x4             2.7694      0.925      2.993      0.003       0.950       4.588
x5           -17.9690      4.243     -4.235      0.000     -26.311      -9.627
x6             4.2833      0.471      9.100      0.000       3.358       5.209
x7            -0.0130      0.014     -0.898      0.370      -0.041       0.015
x8            -1.4585      0.211     -6.912      0.000      -1.873      -1.044
x9             0.2859      0.069      4.125      0.000       0.150       0.422
x10           -0.0131      0.004     -3.324      0.001      -0.021      -0.005
x11           -0.9146      0.141     -6.506      0.000      -1.191      -0.638
x12            0.0097      0.003      3.251      0.001       0.004       0.015
x13           -0.4237      0.055     -7.700      0.000      -0.532      -0.315
==============================================================================
Omnibus:                      161.243   Durbin-Watson:                   1.247
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              904.814
Skew:                           1.657   Prob(JB):                    3.33e-197
Kurtosis:                       9.643   Cond. No.                     1.57e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.57e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

## Escalamiento / estandarizar

In [10]:
for column in df_3.columns:
    col_min = np.min(df_3[column])
    col_max = np.max(df_3[column])
    print(f"{column}: min = {col_min}, max = {col_max}")

CRIM: min = 0.00632, max = 88.9762
ZN: min = 0.0, max = 100.0
INDUS: min = 0.46, max = 27.74
CHAS: min = 0.0, max = 1.0
NOX: min = 0.389, max = 0.871
RM: min = 3.561, max = 8.78
AGE: min = 2.9, max = 100.0
DIS: min = 1.1296, max = 12.1265
RAD: min = 1, max = 24
TAX: min = 187, max = 711
PTRATIO: min = 12.6, max = 22.0
B: min = 2.6, max = 396.9
LSTAT: min = 1.73, max = 37.97
MEDV: min = 5.0, max = 50.0

In [14]:
df_4 = df_3

for column in df_4.columns:
    if column != "MEDV":  # No escalar la variable objetivo
        col_min = df_4[column].min()
        col_max = df_4[column].max()
        df_4[column] = (df_4[column] - col_min) / (col_max - col_min)

In [15]:
df_4.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000
mean,0.041405,0.114607,0.386395,0.068528,0.340696,0.520984,0.680049,0.243311,0.365372,0.418762,0.631656,0.902589,0.304611,22.359645
std,0.103433,0.239541,0.253239,0.252971,0.234673,0.133739,0.287216,0.190833,0.375367,0.321207,0.230474,0.226435,0.201668,9.142979
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
25%,0.000850,0.000000,0.171188,0.000000,0.132780,0.444194,0.438465,0.089161,0.130435,0.177958,0.510638,0.948789,0.148869,16.800000
50%,0.002951,0.000000,0.296921,0.000000,0.309129,0.505940,0.770340,0.188198,0.173913,0.272901,0.691489,0.988055,0.264073,21.050000
75%,0.038548,0.125000,0.646628,0.000000,0.487552,0.583349,0.940783,0.362566,1.000000,0.914122,0.808511,1.000000,0.424600,25.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,50.000000

In [17]:
df_4.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.000000,0.18,0.067815,0.0,0.309129,0.577505,0.641607,0.269203,0.000000,0.208015,0.287234,1.000000,0.089680,24.0
1,0.000236,0.00,0.242302,0.0,0.165975,0.547998,0.782698,0.348962,0.043478,0.104962,0.553191,1.000000,0.204470,21.6
2,0.000236,0.00,0.242302,0.0,0.165975,0.694386,0.599382,0.348962,0.043478,0.104962,0.553191,0.989678,0.063466,34.7
3,0.000293,0.00,0.063050,0.0,0.143154,0.658555,0.441813,0.448545,0.086957,0.066794,0.648936,0.994243,0.033389,33.4
5,0.000264,0.00,0.063050,0.0,0.143154,0.549722,0.574665,0.448545,0.086957,0.066794,0.648936,0.992950,0.096026,28.7

# Modelo estandarizado

In [18]:
CRIM = df_4["CRIM"].values.reshape([-1, 1])
ZN = df_4["ZN"].values.reshape([-1, 1])
INDUS = df_4["INDUS"].values.reshape([-1, 1])
CHAS = df_4["CHAS"].values.reshape([-1, 1])
NOX = df_4["NOX"].values.reshape([-1, 1])
RM = df_4["RM"].values.reshape([-1, 1])
AGE = df_4["AGE"].values.reshape([-1, 1])
DIS = df_4["DIS"].values.reshape([-1, 1])
RAD = df_4["RAD"].values.reshape([-1, 1])
TAX = df_4["TAX"].values.reshape([-1, 1])
PTRATIO = df_4["PTRATIO"].values.reshape([-1, 1])
B = df_4["B"].values.reshape([-1, 1])
LSTAT = df_4["LSTAT"].values.reshape([-1, 1])

n = len(df_4)

unos = np.ones([n,1])

x = np.hstack([
    unos,
    CRIM,
    ZN,
    INDUS,
    CHAS,
    NOX,
    RM,
    AGE,
    DIS,
    RAD,
    TAX,
    PTRATIO,
    B,
    LSTAT
])

y = df_4["MEDV"].values.reshape([-1,1])

ols = sm.OLS(y, x) #fit es al reves, es decir, primero Y y luego X

results = ols.fit()

results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.767
Model:                            OLS   Adj. R-squared:                  0.759
Method:                 Least Squares   F-statistic:                     96.29
Date:                Mon, 01 Sep 2025   Prob (F-statistic):          1.75e-111
Time:                        17:39:06   Log-Likelihood:                -1143.4
No. Observations:                 394   AIC:                             2315.
Df Residuals:                     380   BIC:                             2370.
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         24.8668      2.655      9.366      0.000      19.646      30.087
x1            -8.6829      2.888     -3.007      0.003     -14.361      -3.005
x2             4.8905      1.440      3.397      0.001       2.060       7.721
x3             0.8287      1.799      0.461      0.645      -2.708       4.365
x4             2.7694      0.925      2.993      0.003       0.950       4.588
x5            -8.6611      2.045     -4.235      0.000     -12.682      -4.640
x6            22.3543      2.457      9.100      0.000      17.524      27.185
x7            -1.2614      1.404     -0.898      0.370      -4.022       1.499
x8           -16.0391      2.320     -6.912      0.000     -20.602     -11.477
x9             6.5749      1.594      4.125      0.000       3.441       9.709
x10           -6.8887      2.073     -3.324      0.001     -10.964      -2.813
x11           -8.5971      1.321     -6.506      0.000     -11.195      -5.999
x12            3.8073      1.171      3.251      0.001       1.505       6.110
x13          -15.3535      1.994     -7.700      0.000     -19.274     -11.433
==============================================================================
Omnibus:                      161.243   Durbin-Watson:                   1.247
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              904.814
Skew:                           1.657   Prob(JB):                    3.33e-197
Kurtosis:                       9.643   Cond. No.                         32.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""